*{
    font-family: 'maven pro' , sans-serif;
    margin: 0;
    padding: 0;
   
}

header{
    display:block;
    text-align: center;
    background-color: aqua;
    justify-content: center; 
}
h2{
    display: flex;
    background-color: blueviolet;
    justify-content:center;
    margin: 2px;
    padding: 4px;
}
nav{
    display: flex;
    background-color: blue;
    justify-content:center;
    
    margin: 2px;
    padding: 0;
    
    
}

ul li{
    list-style: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    display:inline;
    color: black;
    justify-content: space-between;
    padding: 20px;
    margin-left: 8px;
}
     
